{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block container %}
{% comment %} Display article contents {% endcomment %}
<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<p>작성자: {{ article.user }}</p>
<hr>
<p>{{ article.content|linebreaksbr }}</p>
<hr>
<a href="{% url 'articles:like' article.pk %}">
  {% if user in article.liked_users.all %}
    <i class="fas fa-heart fa-lg" style="color: red"></i>
  {% else %}
    <i class="far fa-heart fa-lg" style="color: red"></i>
  {% endif %}
</a>
<span>{{ article.liked_users.all | length }}명이 이 글을 좋아합니다.</span>
{% comment %} Edit & Delete button {% endcomment %}
{% if request.user == article.user %}
  <a href="{% url 'articles:update' article.pk %}"><button>수정하기</button></a>
  <form action="{% url 'articles:delete' article.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>
{% endif %}

{% comment %} Write comment {% endcomment %}
<form action="{% url 'articles:create_comment' article.pk %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <a type="submit" {% if user.is_anonymous %}onclick="return confirm('로그인이 필요합니다.')"{% endif %}><button>작성하기</button></a>
</form>

{% comment %} Display comments {% endcomment %}
<ul>
  {% for comment in comments %}
    <li>
    <span>작성자: {{ comment.user }} | </span>
    <span>{{ comment.content }}</span>
    {% if comment.user == request.user %}
      <form action="{% url 'articles:delete_comment' article.pk comment.pk %}" method="post">
      {% csrf_token %}
      <button type="submit">댓글삭제</button>
      </form>
    {% endif %}
    </li>
    {% empty %}
    <p>아직 댓글이 없습니다.</p>
  {% endfor %}
</ul>

{% include 'articles/_follow.html' %}

{% endblock container %}